$secondaryColor:white;

.btn {
  width: auto;
  padding: 5px 20px;
  border-radius: 5px;
  border:0px;
  font-family: 'ubuntu', sans-serif;
  font-size:24px;
}

.btn:hover{
  color:white;
  background-color:rgba($secondaryColor,1);
  border:2px solid $secondaryColor;
  font-style: bolder;
  cursor: pointer;
}
.btn:focus{
  outline: none;
}


