.content {
    padding-top: 25px;
    margin: 0 auto;
    max-width: 950px;
    width: 85%;
}
.grid{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 15px;
    justify-items: center;
}

.cardContanier{
    display: flex;
    flex-direction: column;
    min-height: 200px;
    padding-bottom: 0; margin-bottom: 0;
}

.cardContent{
    flex-grow: 1;
    padding-bottom: 0; margin-bottom: 0;
}

@media only screen and (max-width : 1000px){
    .content {
    }
    .grid{
        grid-template-columns: repeat(2,1fr);
        grid-gap: 15px;
    }
}
@media only screen and (max-width : 675px){
    .content {
        max-width: 100%;
        width: 100%;
    }
    .grid{
        grid-template-columns: repeat(1,1fr);
        grid-gap: 0px;
    }
}
