.content {
    padding: 0px 5%;
    width: 100%;
    height: 100%;

    h1,h2,h3,h4,h5,h6,p{
        line-height: 140%;
        margin-top: 0px;
    }
    h3{
        // color:#3D3D3D;
        color: #4C3277;
        font-size: 22px;
        font-weight: bold;
    }
    p{
        font-size: 14px;
    }
}

@media only screen and (max-width : 675px){
    .content {
        width: 100%;
    }
}