.container{
    display: flex;
    height: 50px;
    background-color: #BD71CF;
    justify-content: center;
    color: white;
    .text{ 
        padding-top: 12px;
        font-size: 16px;
    }
}

.link{
    color:white;
    border-bottom: 2px solid white;
}
.link:hover{
    color:#fad1e1;
    border-bottom: 2px solid #fad1e1;
    //text-decoration: underline;
}